@import 'https://fonts.googleapis.com/css?family=Fjalla+One';

header {
  background: white;
  Color: black;
  text-align: center;
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
}

#container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#container #left {
  width: 750px;
  border-right: 3px solid;
  float: left;
  height: 100%;
  text-align: left;
  padding-right: 30px;
}

#container #right {
  width: 380px;
  float: right;
  height: 100%;
  padding-top: 50px;

}

.Contact-Info {
  margin-left: 305px;
  width: 200px;
}

h3 {
  font-family: sans-serif;
  font-weight: bold;
  color: #4286f4;
  font-weight: bold;
}
img{
  width: 350px;
  height: 300px;
  border-radius: 50%;
}

